In [11]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")
daily_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
totalcase_df = daily_df.drop(["Country_Region"], axis=1).sum().reset_index(name="Count")
totalcase_df = totalcase_df.rename(columns={"index": "condition", "Count": "count"})
countries_df = daily_df.groupby("Country_Region").sum().reset_index()



conditions = ["confirmed", "death", "recovered"]


def global_df():
    def make_df(condition):
        df = pd.read_csv(f"data/time_series_{condition}.csv")
        df = (
            df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1)
            .sum()
            .reset_index(name=condition)
        )
        df = df.rename(columns={"index": "date"})
        return df
    condition_df = []
    for c in conditions:
        condition_df.append(make_df(c))

    merged = condition_df[0]
    merged = pd.merge(condition_df[1], merged, how="left", on="date")
    merged = pd.merge(condition_df[2], merged, how="left", on="date")
    return merged


def country_df(country):
    def make_country_df (country, condition):
        c_df = pd.read_csv(f"data/time_series_{condition}.csv")
        c_df = c_df.loc[c_df["Country/Region"] == country]
        c_df = c_df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name=condition)
        c_df = c_df.rename(columns={"index":"date"})
        return c_df

    condition_df = []
    for c in conditions:
        condition_df.append(make_country_df(country, c))

    merged = condition_df[0]
    merged = pd.merge(condition_df[1], merged, how="left", on="date")
    merged = pd.merge(condition_df[2], merged, how="left", on="date")
    return merged



global_df()

        date  recovered   death  confirmed
0    1/22/20         28      17        555
1    1/23/20         30      18        654
2    1/24/20         36      26        941
3    1/25/20         39      42       1434
4    1/26/20         52      56       2118
..       ...        ...     ...        ...
216  8/25/20   15570191  819416   23885837
217  8/26/20   15794441  825695   24173588
218  8/27/20   15997281  831586   24452689
219  8/28/20   16198165  837124   24734448
220  8/29/20   16409757  842499   24996456

[221 rows x 4 columns]

In [3]:
totalcase_df

   condition     count
0  Confirmed  24996456
1     Deaths    842499
2  Recovered  16409757